<div class="container">
  <% if @bookings.any? %>
    <br>
    <h2>Your bookings:</h2>
    <br>
    <div>
      <ul class="list-group mb-3" >
        <div class="row" >
          <% @bookings.each do |booking| %>
            <div class="col-md-4">
              <%= link_to booking_path(booking) do%>
                <div class="card card-01">
                  <% if booking.boat.photo.attached? %>
                    <%=cl_image_tag booking.boat.photo.key %>
                  <% else %>
                    <%= image_tag "#{booking.boat.category.parameterize}.jpg", class: "card-img-top" %>
                  <% end %>
                  <div class="card-body">
                    <h4 class="card-title">Name: <%= booking.boat.name %></h4>
                    <p class="card-text">Category: <%= booking.boat.category %></p>
                    <p class="card-text">Location: <%= booking.boat.location %></p>
                    <p class="card-text">Rating:
                      <%  booking.boat.rating.times do  %>
                        <i class="bi bi-star-fill"></i>
                      <% end %>
                    </p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </ul>
    </div>
  <% else %>
    <br>
    <h2> You don't have any current bookings!</h2>
    <br>
  <% end %>
  <div align="center">
    <%= link_to "Search all available boats", root_path, :class => 'btn btn-ghost' %>
  </div>
</div>
