
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card card-01">
                <%= image_tag "luxury-yacht-charter-mallorca.jpg", class: "card-img-top" %>
                  <div class="card-body">
                    <span class="badge-box"><i class="fa fa-check"></i></span>
                    <h4 class="card-title">Luxury Boat</h4>
                    <p class="card-text">Boat.name</p>
                    <p class="card-text">Boat.location</p>
                    <p class="card-text">Boat.category</p>
                    <p class="card-text">Boat.rating</p>
                    <a href="#" class="btn btn-default text-uppercase">Explore</a>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-01">
                <%= image_tag "luxury-yacht-charter-mallorca.jpg", class: "card-img-top" %>
                  <div class="card-body">
                    <span class="badge-box"><i class="fa fa-check"></i></span>
                    <h4 class="card-title">Luxury Boat</h4>
                    <p class="card-text">Boat.name</p>
                    <p class="card-text">Boat.location</p>
                    <p class="card-text">Boat.category</p>
                    <p class="card-text">Boat.rating</p>
                    <a href="#" class="btn btn-default text-uppercase">Explore</a>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-01">
               <%= image_tag "luxury-yacht-charter-mallorca.jpg", class: "card-img-top" %>
                  <div class="card-body">
                    <span class="badge-box"><i class="fa fa-check"></i></span>
                    <h4 class="card-title">Luxury Boat</h4>
                    <p class="card-text">Boat.name</p>
                    <p class="card-text">Boat.location</p>
                    <p class="card-text">Boat.category</p>
                    <p class="card-text">Boat.rating</p>
                    <a href="#" class="btn btn-default text-uppercase">Explore</a>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
             <div class="card card-01">
              <%= image_tag "luxury-yacht-charter-mallorca.jpg", class: "card-img-top" %>
                <div class="card-body">
                  <span class="badge-box"><i class="fa fa-check"></i></span>
                  <h4 class="card-title">Luxury Boat</h4>
                  <p class="card-text">Boat.name</p>
                  <p class="card-text">Boat.location</p>
                  <p class="card-text">Boat.category</p>
                  <p class="card-text">Boat.rating</p>
                  <a href="#" class="btn btn-default text-uppercase">Explore</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
             <div class="card card-01">
              <%= image_tag "luxury-yacht-charter-mallorca.jpg", class: "card-img-top" %>
                <div class="card-body">
                  <span class="badge-box"><i class="fa fa-check"></i></span>
                  <h4 class="card-title">Luxury Boat</h4>
                  <p class="card-text">Boat.name</p>
                  <p class="card-text">Boat.location</p>
                  <p class="card-text">Boat.category</p>
                  <p class="card-text">Boat.rating</p>
                  <a href="#" class="btn btn-default text-uppercase">Explore</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
             <div class="card card-01">
              <%= image_tag "luxury-yacht-charter-mallorca.jpg", class: "card-img-top" %>
                <div class="card-body">
                  <span class="badge-box"><i class="fa fa-check"></i></span>
                  <h4 class="card-title">Luxury Boat</h4>
                  <p class="card-text">Boat.name</p>
                  <p class="card-text">Boat.location</p>
                  <p class="card-text">Boat.category</p>
                  <p class="card-text">Boat.rating</p>
                  <a href="#" class="btn btn-default text-uppercase">Explore</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
             <div class="card card-01">
              <%= image_tag "luxury-yacht-charter-mallorca.jpg", class: "card-img-top" %>
                <div class="card-body">
                  <span class="badge-box"><i class="fa fa-check"></i></span>
                  <h4 class="card-title">Luxury Boat</h4>
                  <p class="card-text">Boat.name</p>
                  <p class="card-text">Boat.location</p>
                  <p class="card-text">Boat.category</p>
                  <p class="card-text">Boat.rating</p>
                  <a href="#" class="btn btn-default text-uppercase">Explore</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
             <div class="card card-01">
              <%= image_tag "luxury-yacht-charter-mallorca.jpg", class: "card-img-top" %>
                <div class="card-body">
                  <span class="badge-box"><i class="fa fa-check"></i></span>
                  <h4 class="card-title">Luxury Boat</h4>
                  <p class="card-text">Boat.name</p>
                  <p class="card-text">Boat.location</p>
                  <p class="card-text">Boat.category</p>
                  <p class="card-text">Boat.rating</p>
                  <a href="#" class="btn btn-default text-uppercase">Explore</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
             <div class="card card-01">
              <%= image_tag "luxury-yacht-charter-mallorca.jpg", class: "card-img-top" %>
                <div class="card-body">
                  <span class="badge-box"><i class="fa fa-check"></i></span>
                  <h4 class="card-title">Luxury Boat</h4>
                  <p class="card-text">Boat.name</p>
                  <p class="card-text">Boat.location</p>
                  <p class="card-text">Boat.category</p>
                  <p class="card-text">Boat.rating</p>
                  <a href="#" class="btn btn-default text-uppercase">Explore</a>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </section>
