<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow-sm" style="background-image:url(<%= image_url('form-4.jpg') %>">
      <%= simple_form_for @boat do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :available %>
  <%= f.input :capacity %>
  <%= f.input :location %>
  <%= f.input :price %>
  <%= f.input :rating, required: true, placeholder: '' %>
  <%= f.input :photo, as: :file %>
  <%= f.submit :class => "btn btn-ghost" %>
<% end %>
      </div>
    </div>
  </div>
</div>
