

<div class="container">
<div class="card-trip">
  <img src="luxury-yacht-charter-mallorca.jpg"/>
  <div class="card-trip-main-infos">
    <div class="card-trip-infos">
      <h2><%= @boat.name  %></h2>
      <h2> <i> <%= @boat.category %> </i></h2>
      <p> Available: <%= @boat.available %></p>
      <p> Capacity: <%= @boat.capacity %></p>
      <p> Location: <%= @boat.location %></p>
      <p> Rating: <%= @boat.rating %></p>
    </div>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    <div>
      <h2 class="card-trip-pricing">£<%= @boat.price %> per week</h2>
      <%= link_to "Book now", "#", class: "btn btn-ghost" %>
      <%= link_to "Back to all boats", boats_path, class: "btn btn-ghost" %>
      <% if @boat.user == current_user %>
      <%= link_to  "Edit", edit_boat_path(@boat) %>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
