<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @boat.name %></h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Category</th>
            <td><%= @boat.category %></td>
          </tr>
          <tr>
            <th scope="row">Availability</th>
            <td><%= @boat.available %></td>
          </tr>
          <tr>
            <th scope="row">Capacity</th>
            <td><%= @boat.capacity %></td>
          </tr>
          <tr>
            <th scope="row">Location</th>
            <td><%= @boat.location %></td>
          </tr>
          <tr>
            <th scope="row">Price</th>
            <td><%= @boat.price %></td>
          </tr>
          <tr>
            <th scope="row">Rating</th>
            <td><%= @boat.rating %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to "See all boats", boats_path %>
      <% if @boat.user == current_user %>
      <%= link_to  "Edit", edit_boat_path(@boat) %>
      <% end %>
      <%= link_to boat_path(@boat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
      <i class="fa-solid fa-trash-can"></i>,
      <% end%>
    </div>
  </div>
</div>
